.navigation {
  background-color: #fff;

  &__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    row-gap: 16px;
    justify-content: space-between;
    padding: 40px 0;
  }
}